doctype html
html
    head
        title Knowledge Base
        link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet' href='/css/styles.css')
    body
        nav.navbar.navbar-expand-sm.navbar-dark.bg-dark
            a.navbar-brand(href='/') KnowledgeBase
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExample03', aria-controls='navbarsExample03', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarsExample03.collapse.navbar-collapse
                ul.navbar-nav.mr-auto
                    li.nav-item
                        a.nav-link(href='/') Home 
                        
                    li.nav-item
                        a.nav-link(href='/article/add') Article

                    

        .container
            block content
            br
            hr
            footer
                p Copyright &copy; Beveloper 2018
        script(src='/bower_components/jquery/dist/jquery.js')
        script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
        script(src='/js/main.js')